# R session
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Renviron

# RStudio
.Rproj.user/

# knitr
*_cache/

# Quarto
_site/
.quarto/
site_libs/
**/*.quarto_ipynb
/index.html
analysis/*.html
analysis/*.pdf
analysis/*_files/

# Large model files
output/*.rds

# Raw data
data/raw/

# Publication files
pub/
